@charset 'utf-8';

@import 'bootstrap.min';
@import 'skrill-variables';
@import 'skrill-bootstrap';
@import 'skrill-transparency';
@import 'skrill-button';
@import 'skrill-viewport-hero';
@import 'skrill-nav';
@import 'skrill-form';
@import 'skrill-fees';

@font-face {
    font-family: robotolight;
    src: url(../fonts/Roboto-Light-webfont.eot);
    src: url(../fonts/Roboto-Light-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Light-webfont.woff) format('woff'), url(../fonts/Roboto-Light-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: robotoregular;
    src: url(../fonts/Roboto-Regular-webfont.eot);
    src: url(../fonts/Roboto-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Regular-webfont.woff) format('woff'), url(../fonts/Roboto-Regular-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "bebas_neuebold";
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bebas_neuebook";
    src: url('../fonts/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebasneue_book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?-uqanb6');
  src: url('../fonts/icons.eot?#iefix-uqanb6') format('embedded-opentype'), url('../fonts/icons.ttf?-uqanb6') format('truetype'), url('../fonts/icons.woff?-uqanb6') format('woff'), url('../fonts/icons.svg?-uqanb6#icons') format('svg');
  font-weight: normal;
  font-style: normal; }

.icon, .head a.icon[href] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-skrill-logo:before {
  content: "\e601"; }

.icon-menu:before {
  content: "\e602"; }

.icon-close:before {
  content: "\e603"; }

.icon-profile:before {
  content: "\e611"; }

.icon-twitter:before {
  content: "\e604"; }

.icon-linkedin:before {
  content: "\e605"; }

.icon-facebook:before {
  content: "\e606"; }

.icon-arrow-left-thin:before {
  content: "\e60d"; }

.icon-arrow-right-thin:before {
  content: "\e60e"; }

.icon-arrow-right:before {
  content: "\e607"; }

.icon-arrow-right-circle:before {
  content: "\e608"; }

.icon-arrow-up:before {
  content: "\e600"; }

.icon-tick:before {
  content: "\e60c"; }

.icon-arrow-down:before {
  content: "\e609"; }

.icon-expand-small:before {
  content: "\e60a"; }

.icon-expand-large:before {
  content: "\e60b"; }

.icon-minimize-large:before {
  content: "\e60f"; }

.icon-minimize-small:before {
  content: "\e610"; }

.icon-phone:before {
  content: "\e612"; }

.icon-email:before {
  content: "\e613"; }
  
.icon .copy {
	
	display: none;

}

html {
	
	box-sizing: border-box;
	overflow-x: hidden;
/*
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
*/

}

html, body {
	
	font-family:robotolight,Helvetica,Arial,sans-serif;
	margin: 0;
	font-size: 14px;
	letter-spacing: 1px;

}

h1, h2, h3, h4, h5, h6 {
	
	word-break: break-word;
	word-wrap: break-word;
	font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1;
	letter-spacing: .1em;

}

header {
	
	overflow: hidden;
	position: relative;

}

picture {
	
	display: inline-block;

}

.contain {
	
	max-width: 1280px;
	margin: 0 auto;
	
}

.hero-content {
	
	color: #fff;
	
}

.hero-content h1 {
	
	font-size: 12em;
    margin: 0;
    letter-spacing: .1em;
    
}

.head a.logo img {
	
	display: block;
    height: 6rem;

}

.head {
	
	position: fixed;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	z-index: 1;
	color: #fff;
	display: flex;
    -webkit-transform: translate3d(0,0,0); // Faster refresh
    transform: translate3d(0,0,0); // Faster refresh
	
}

.head > * {
	
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
    padding: 0 1em;

}

.head > .logo {
	
	padding: 0;


}

.head .middle-space {
	
    flex: 1 1 auto;
    overflow: hidden;
	
}

.head * {
	
	font-size: 1rem;

}

header .hero {
	
	text-align: center;
	font-size: 1.3em;

}

.hero.dark-text h1, .hero.dark-text p {

    color: #656073;

}

header .hero p {
	
	font-size: 1.2em;

}

header p {
	
	display: inline-block;
	padding: .3em .7em;
	
}

img {
	
	max-width: 100%;
	display: inline-block;
	border: 0;
	text-indent: -100%; /* Hide the broken image icon */

}

img.header {
	
	opacity: 0;

}

a[href] {
	
	text-decoration: none;
	display: inline-block;
	
}

#content a[href]:not(.btn) {
	
	color: $purple;
	
}

.head a[href] {
	
	color: inherit;
	
}
	
.head a[href] {
	
	vertical-align: middle;
    font-family: robotoregular, Helvetica, Arial, sans-serif;
    text-transform: uppercase;

}

.head .links a[href], .head .links a[href] b {

	font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1.3rem;
	letter-spacing: 3px;

}

.section:before, .section:after { // Clear inner margins
	
	content: '';
	display: table;
	table-layout: fixed;
	width: 0;

}

.section.background, .section > .row {
	
	min-height: 40em;

}

.section.background {
	
	background-color: #fff;
	background-size: cover;

}

#content h2 {
	
	font-size: 3.4rem;

}

#content h3 {
	
	font-size: 2.5rem;

}

#content {
	
	h2, h3, h4 {
	
		color: #4f2556;
	
	}

}

#content {
	
	text-align: center;
	
}

/* Footer */

footer {
	
	background: #f4f4f4;
	text-align: center;
	padding: 1em;

}

footer ul li {
	
	display: inline-block;
	
}

footer ul li a[href] {

	color: #5c6478;

}

footer ul li a.icon[href] {

	color: $purple;
	font-size: 2.5em;

}

footer nav ul li a[href] {

	text-transform: uppercase;

}

/* Uncollapsing child margins */
.module-title {
	
	padding: 1px;
	margin-top: -1px;
	
}

.hero-bottom-banner {
	
	 max-width: none; 
	 background: #fff; 
	 width: 100%;
	 
}

.hero-bottom-banner .carousel {
	
	 display: block; 
	 font-size: 0; 
	 max-width: 63.0625rem; 
	 margin: 0 auto;
	 
}

.hero-bottom-banner .carousel a[href]:not(.btn) {
	
	display: block;

}

.hero-bottom-banner .carousel-indicators {
	
	display: none;

}

.outline-text-cta h2 {
	
	text-transform: uppercase;
	font-weight: 100;	
	
}

.outline-text-cta p {
	
	color: purple;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	
}

.outline-text-cta p a[href] {
	
	font-size: 1.3em;
	text-decoration: underline;
	
}

.badges {
	
	padding: 1em 33%;
	
	a {
		
		margin: 0 1em;
		display: inline-block;
		width: 40%;

	}
	
}

/* Lists */

	ul, ol {
		
		list-style: none;
		padding: 0;
		text-align: start;

	}
	
	.box ul {
		
		list-style: initial;

	}

	ol {
		
		counter-reset: level1;

	}
	
	#content li {
		
		display: block;
		margin: .5em 0;
	    padding-left: 4em;
	    position: relative;
	    min-height: 2em;
		
	}
	
	#content li:before {
			
		content: '✓';
	    background: #41aeb5;
	    color: #fff;
	    display: inline-block;
	    margin: 0 1em;
	    border-radius: 50%;
	    min-width: 2em;
	    height: 2em;
	    text-align: center;
	    line-height: 2;
	    font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	    position: absolute;
		left: 0;
	    top: -.3em;
		
	}
	
	ol li:before {
		
	    content: counter(level1);
	    counter-increment: level1;
    
	}

#content .awards li {
	
	display: inline-block;

}

.awards .award-image {
	
    width: 9em;
    height: 9em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	border: 2px solid grey;
    border-radius: 50%;	    

}

.visually-hidden {
	
	display: none;
	
}

/* Accordion */

.panel {
	
	text-align: left;
	text-align: start;
	border-bottom: 1px solid #ddd;

}

.panel-collapse {
	
	overflow: hidden;
	
}

.panel-collapse.collapse {
	
	height: 0;

}

.panel-collapse.collapse.in {
	
	height: auto;

}

.panel-group {
	
    border: 1px solid #ddd;
    border-bottom: none;
    margin: 1em;
	    
}

.panel-title {
	
	margin: 0;
	font-size: 1.7em;

}

.panel-title a, .panel-body {
	
	padding: 1rem;
	display: block;
	color: #544c64;
	position: relative;
	
}

.panel-title a:after {
	
	content: '+';
	display: inline-block;
	text-align: center;
	width: 1em;
	height: 1em;
	border: 1px solid #ddd;
	border-radius: 50%;
	line-height: 1em;
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
	
}

/* Tabs */

.nav-tabs {
	
	text-align: center;
	border: none;
	background: #eee;
    padding: 1em;
	
}

#content .nav-tabs > li {
	
	float: none;
	display: inline-block;
	padding: 0;
	margin-bottom: -1px;
	
}

#content .nav-tabs > li > a {

	font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	font-size: 2em;
	line-height: 1;
	text-decoration: underline;

}

#content .nav-tabs > li.active > a, #content .nav-tabs > li.active > a:focus, #content .nav-tabs > li > a:hover, #content .nav-tabs > li.active > a:hover {

	text-decoration: none;
	border-color: transparent;
	background: none;

}

#content .nav-tabs > li.active:after {
	
	content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
	border-style: solid;
    border-width: 0 1em 1em 1em;
    border-color: transparent transparent #ffffff transparent;
    
}

/* Tick */

b.tick {
	
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid;
	border-radius: 50%;
	
}

b.tick:before {
	
	content: '✓';
	line-height: 1;
	
}

/* Step Circles */

#content .global-offices li:before, #content .awards li:before, #content .nav li:before {
	
	display: none;
	
}

#content .module-stepcircles ol {

	counter-reset: level1;

}

#content .module-stepcircles li {
	
	text-align: center;
	background-size: 0;
	position: relative;

}

#content .module-stepcircles li .icon {
	
    display: block;
    border: 3px solid #41aeb5;
    border-radius: 50%;
    margin: 0;
    position: static;
	width: 9em;
    height: 9em;
    margin: 0 auto;

}

#content .module-stepcircles li:before {

    top: .5rem;
    left: 50%;
    transform: translateX(calc(-50% - 3.5rem));
    font-size: 1.2em;
    border: 3px solid #544c64;
    box-sizing: content-box;
    position: absolute;
    text-align: center;
    background: #41aeb5;
    color: #fff;
    border-radius: 50%;
    min-width: 2em;
    height: 2em;
    line-height: 2;
    font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
    counter-increment: level1;

}

#content .module-stepcircles ol li:before {

    content: counter(level1);

}

/* Unmissable offers */

.unmissable-offers {
	
	color: #fff;
    text-transform: uppercase;
	font-family: bebas_neuebook, Helvetica, Arial, sans-serif;

}

.unmissable-offers strong, .unmissable-offers b {

    font-family: bebas_neuebold, Helvetica, Arial, sans-serif;

}

.unmissable-offers p {

	font-size: 3em;
    margin: 0;
    line-height: 1;
    
}

.unmissable-offers .col-md-12 p {

	font-size: 4.5em;
    
}

.unmissable-offers img {

	border-radius: 50%;
    border: 2px solid;
    display: block;
    margin: 2em;
    max-width: calc(100% - 4em);
    margin: 2em auto;

}

.unmissable-offers .row > * {
	
    align-self: center;
    background-size: cover;
    position: relative;

}

.unmissable-offers > .row > *:before {
	
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(79, 80, 110, 0.8);

}

.unmissable-offers .row a[href].btn {
	
	color: #000;
	border-color: #fff;
	
}

.unmissable-offers .row a[href].btn:before {
	
	background-color: #fff;
	
}

.unmissable-offers .row a[href].btn:hover, .unmissable-offers .row a[href].btn:hover:after {
	
	color: #fff;
	
}

/* Box */

.box {
	
	background: rgba(255, 255, 255, .8);
	padding: 3em;
	
}

.box h2 {
	
	margin-top: 0;

}

/* Element themes */

.dark {
	
	color: #fff;

}

#content .dark {
	
	h2, h3, h4 {
	
		color: #fff;
	
	}

}

.section.dark {
	
    background: #544c64;

}

/* Social links with icons */

.head .social-links {
	
	text-align: center;
    margin: 3em 0 1em 0;
	
}

.head span.border {
	
    border-right: 1px solid #999;
    padding: 0;
	    
}

/* Reveal */

.circle > * {
	
	transition: all .2s ease-in-out;	
	
}

/* Hero arrow */

header .content-arrow {

	background: url(../images/icons/scroll-down-arch.png) top center no-repeat;
	background-size: 100% auto;
	display: inline-block;
	margin: 0 auto;
	width: 79px;
	height: 44px;
	text-align: center;
	color: #fff;
	
}

/* Merchants / Accordion Grid Item */

.accordion-grid-item-trigger {
	
	padding: .5em;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 1em 0;
    	
}

.accordion-grid-item-trigger:after {
	
    content: '+';
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #eee;
    color: #bbb;
    width: 1em;
    height: 1em;
    text-align: center;
    font-size: 2em;
    line-height: .85;
    margin: 0 .2em;

}

.accordion-grid-item h4.modal-title {
	
	font-size: 2em;

}

.embedded-code {
	
	word-break: break-word;
	word-wrap: break-word;

}

.logo-code > * {
	
	text-align: center;

}

@media screen and (max-width: 767px) {

	header h1 {
		
		font-size: 3em;
	
	}
	
	header a.logo img {
		
		height: 6em;
		max-width: none;

	}
	
	.head > .logo {
		
		width: 0;

	}
	
	.row.transparent {
		
		margin: 1em;
		
	}
	
	.awards li {
		
		padding: 0 1em;

	}

}

