@charset 'utf-8';

@import 'bootstrap.min';
@import 'skrill-variables';
@import 'skrill-bootstrap';
@import 'skrill-typography';
@import 'skrill-transparency';
@import 'skrill-button';
@import 'skrill-viewport-hero';
@import 'skrill-nav';
@import 'skrill-lists';
@import 'skrill-accordion';
@import 'skrill-tabs';
@import 'skrill-footer';
@import 'skrill-form';
@import 'skrill-fees';
@import 'skrill-unmissable-offers';
@import 'skrill-step-circles';

html {
	
	box-sizing: border-box;
	overflow-x: hidden;

}

html, body {
	
	font-family:robotolight,Helvetica,Arial,sans-serif;
	margin: 0;
	font-size: 14px;
	letter-spacing: 1px;

}

header {
	
	overflow: hidden;
	position: relative;

}

picture {
	
	display: inline-block;

}

.contain {
	
	max-width: 1280px;
	margin: 0 auto;
	
}

img {
	
	max-width: 100%;
	display: inline-block;
	border: 0;
	text-indent: -100%; /* Hide the broken image icon */

}

img.header {
	
	opacity: 0;

}

a[href] {
	
	text-decoration: none;
	display: inline-block;
	
}

#content a[href]:not(.btn) {
	
	color: $purple;
	
}

.section:before, .section:after { // Clear inner margins
	
	content: '';
	display: table;
	table-layout: fixed;
	width: 0;

}

.section.background, .section > .row {
	
	min-height: 40em;

}

.section.background {
	
	background-color: #fff;
	background-size: cover;

}

#content {
	
	text-align: center;
	
}

/* Uncollapsing child margins */
.module-title {
	
	padding: 1px;
	margin-top: -1px;
	
}

/* App Store / Play Store badges */

.badges {
	
	padding: 1em 33%;
	
	a {
		
		margin: 0 1em;
		display: inline-block;
		width: 40%;

	}
	
}

#content .awards li {
	
	display: inline-block;

}

.awards .award-image {
	
    width: 9em;
    height: 9em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	border: 2px solid grey;
    border-radius: 50%;	    

}

.visually-hidden {
	
	display: none;
	
}

/* Tick */

b.tick {
	
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid;
	border-radius: 50%;
	
}

b.tick:before {
	
	content: '✓';
	line-height: 1;
	
}

/* Box */

.box {
	
	background: rgba(255, 255, 255, .8);
	padding: 3em;
	
}

.box h2 {
	
	margin-top: 0;

}

/* Element themes */

.dark {
	
	color: #fff;

}

#content .dark {
	
	h2, h3, h4 {
	
		color: #fff;
	
	}

}

.section.dark {
	
    background: #544c64;

}

/* Reveal effect */

.circle > * {
	
	transition: all .2s ease-in-out;	
	
}

.embedded-code {
	
	word-break: break-word;
	word-wrap: break-word;

}

.logo-code > * {
	
	text-align: center;

}

