@import 'skrill-variables';

/* Step Circles */

#content .module-stepcircles {
	
	padding: 3em 0;

}

#content .global-offices li:before, #content .awards li:before, #content .nav li:before {
	
	display: none;
	
}

#content .module-stepcircles ol.row {

	counter-reset: level1;
	justify-content: center;

}

#content .module-stepcircles li {
	
	text-align: center;
	background-size: 0;
/*
	position: relative;
	flex-basis: 33.33%;
    flex-grow: 0;
*/

}

#content .module-stepcircles li .icon {
	
    display: block;
    border: 3px solid #41aeb5;
    border-radius: 50%;
    margin: 0;
    position: static;
	width: 9em;
    height: 9em;
    margin: 0 auto;

}

#content .module-stepcircles li:before {

    top: .5rem;
    left: 50%;
    transform: translateX(calc(-50% - 2.5rem));
    font-size: 1.2em;
    border: 3px solid #fff;
    box-sizing: content-box;
    position: absolute;
    text-align: center;
    background: #41aeb5;
    color: #fff;
    border-radius: 50%;
    min-width: 2em;
    height: 2em;
    line-height: 2;
    font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
    counter-increment: level1;
    z-index: 1;

}

#content .module-stepcircles.light li:before {

    border: 3px solid $grey-light;

}

#content .module-stepcircles.dark li:before {

    border: 3px solid #544c64;

}

#content .module-stepcircles ol li:before {

    content: counter(level1);

}

/* Scroll effects */

@media screen and (min-width: $mediumScreen) {

	.circle > :first-child.invisible, .module-stepcircles li .icon.invisible {
	
	    transition: all .5s ease;
	    opacity: 0.0;
	    transform: scale(0) !important;
	
	}
	
	.circle > :first-child.visible, .module-stepcircles li .icon.visible {
	
	    transition: all .5s ease;
	    opacity: 1.0;
		transform: scale(1) !important;
	
	}

}

@media screen and (max-width: $mediumScreen) {

	#content .module-stepcircles li:before {
		
		margin-left: -1em;
	
	}

}
