@import 'skrill-variables';

/* Tabs */

.nav-tabs {
	
	text-align: center;
	border: none;
	background: #eee;
    padding: 1em;
	
}

#content .nav-tabs > li {
	
	float: none;
	display: inline-block;
	padding: 0;
	margin-bottom: -1px;
	
}

#content .nav-tabs > li > a {

	font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	font-size: 2em;
	line-height: 1;
	text-decoration: underline;

}

#content .nav-tabs > li.active > a, #content .nav-tabs > li.active > a:focus, #content .nav-tabs > li > a:hover, #content .nav-tabs > li.active > a:hover {

	text-decoration: none;
	border-color: transparent;
	background: none;

}

#content .nav-tabs > li.active:after {
	
	content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
	border-style: solid;
    border-width: 0 1em 1em 1em;
    border-color: transparent transparent #ffffff transparent;
    
}

.tab-pane:not(.in) {
	
	contain: strict;

}
