@import 'skrill-variables';

@font-face {
    font-family: robotolight;
    src: url(../fonts/Roboto-Light-webfont.eot);
    src: url(../fonts/Roboto-Light-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Light-webfont.woff) format('woff'), url(../fonts/Roboto-Light-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: robotoregular;
    src: url(../fonts/Roboto-Regular-webfont.eot);
    src: url(../fonts/Roboto-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Regular-webfont.woff) format('woff'), url(../fonts/Roboto-Regular-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "bebas_neuebold";
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bebas_neuebook";
    src: url('../fonts/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebasneue_book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bebas_neuelight";
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?-uqanb6');
  src: url('../fonts/icons.eot?#iefix-uqanb6') format('embedded-opentype'), url('../fonts/icons.ttf?-uqanb6') format('truetype'), url('../fonts/icons.woff?-uqanb6') format('woff'), url('../fonts/icons.svg?-uqanb6#icons') format('svg');
  font-weight: normal;
  font-style: normal; }

.icon, .head a.icon[href] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-skrill-logo:before {
  content: "\e601"; }

.icon-menu:before {
  content: "\e602"; }

.icon-close:before {
  content: "\e603"; }

.icon-profile:before {
  content: "\e611"; }

.icon-twitter:before {
  content: "\e604"; }

.icon-linkedin:before {
  content: "\e605"; }

.icon-facebook:before {
  content: "\e606"; }

.icon-arrow-left-thin:before {
  content: "\e60d"; }

.icon-arrow-right-thin:before {
  content: "\e60e"; }

.icon-arrow-right:before {
  content: "\e607"; }

.icon-arrow-right-circle:before {
  content: "\e608"; }

.icon-arrow-up:before {
  content: "\e600"; }

.icon-tick:before {
  content: "\e60c"; }

.icon-arrow-down:before {
  content: "\e609"; }

.icon-expand-small:before {
  content: "\e60a"; }

.icon-expand-large:before {
  content: "\e60b"; }

.icon-minimize-large:before {
  content: "\e60f"; }

.icon-minimize-small:before {
  content: "\e610"; }

.icon-phone:before {
  content: "\e612"; }

.icon-email:before {
  content: "\e613"; }
  
.icon .copy {
	
	display: none;

}

h1, h2, h3, h4, h5, h6 {
	
	word-break: break-word;
	word-wrap: break-word;
	font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1;
	letter-spacing: .1em;

}

#content h2 {
	
	font-size: 3.4rem;

}

#content h3 {
	
	font-size: 2.5rem;

}

#content {
	
	h2, h3, h4 {
	
		color: #4f2556;
	
	}

}

.outline-text-cta h2 {
	
	text-transform: uppercase;
	font-weight: 100;	
	
}

.outline-text-cta p {
	
	color: purple;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	
}

.outline-text-cta p a[href] {
	
	font-size: 1.3em;
	text-decoration: underline;
	
}

a[href] {
	
	text-decoration: none;
	display: inline-block;
	
}

#content a[href]:not(.btn):not([role=button]) {
	
	color: $purple;
	
}

main#content a[href]:not(.btn):not([role=button]) {
	
	text-decoration: underline;

}

main#content .dark a[href]:not(.btn):not([role=button]) {
	
	color: $teal;

}

.head .links strong {
	
	font-size: inherit;

}


@media screen and (max-width: $mediumScreen) {

	header h1 {
		
		font-size: 3em;
	
	}
	
}
