@import 'skrill-variables';

/* Footer */

footer {
	
	background: #f4f4f4;
	text-align: center;
	padding: 1em;

}

footer ul li {
	
	display: inline-block;
	
}

footer ul li a[href] {

	color: #5c6478;

}

footer ul li a.icon[href] {

	color: $purple;
	font-size: 2.5em;

}

footer nav ul li a[href] {

	text-transform: uppercase;

}

