body {
	
	background: url(../images/desktop-nav-bg.jpg);
	background-size: cover;
	font-family: robotolight, Helvetica Neue, Arial, sans-serif;

}

input#toggle-menu {
	
	display: none;

}

header {
	
	position: fixed;
	border-bottom: 1px solid #fff;
	background: rgba(255,255,255,.3);
	width: 100%;
	overflow: visible;
	z-index: 3;

}

main {
	
	padding: 1em;
	padding-top: 12em;
	height: 150vh;
	color: #fff;

}

header a[href], header a {
	
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;

}

header li a[href], header li a {
	
	padding: 0 .5em;

}

header .middle li a[href], header .middle li a {
	
	margin: 0 1em;

}

header .middle li.sub > a[href], header .middle li.sub > a {
	
	margin-right: 0;

}

header nav ul {
	
	text-align: inherit;
	margin: .5em;
	padding: 0;

}

header nav li {
	
	display: inline-block;
	position: relative;
	padding: .25em 0;

}

header .top-right nav > ul > li + li {
	
	margin-left: 1em;
	
}

header nav li li {
	
	display: block;
	padding: .5em;

}

header nav li ul {
	
	visibility: hidden;
	position: absolute;
	background: #fff;
	margin: 0;
	padding: 2em 0 .5em 0;
	z-index: 1;
	width: 100%;
	

}

header nav li.sub {
	
	padding-right: 1.5em;
	background: url(../images/nav-arrow-white.svg) right center no-repeat;
	background-position-x: calc(100% - .5em);
	background-size: 1em auto;

}

header nav li.sub.open {
	
	background: #fff;

}

header nav li.sub.open:before {
	
	top: -5em;

}

header nav li.sub.open ul {
	
	visibility: visible;

}

header .top-left li:not(.active) a[href] {
	
	color: #999;
	
}

header li.help a[href] {
	
	background: url(../images/question-mark-circle.svg) left center no-repeat;
	background-size: auto 100%;
	padding-left: 2em;
	
}

header li.language a {
	
	background: url(../images/globe.svg) left center no-repeat;
	background-size: auto 100%;
	padding-left: 2em;
	
}

html:not(.can-touch) {
	
	header nav li.sub:hover {
		
		background-image: url(../images/nav-arrow-black.svg);
		
	}

	header nav li.sub:hover:before {
		
		content: '';
		position: absolute;
		background: #fff;
		top: -5em;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		min-width: 10em;

	}

	header nav li.sub:hover a[href] {
		
		color: #999;

	}

	header nav li.sub:hover li a[href] {
		
		padding: 0;
		display: block;

	}

	header nav li.sub:hover ul {
		
		visibility: visible;

	}

}

header .btn, header .btn:focus {
	
	padding: .5em 1em;
	border-color: #fff;
	margin: .5em 0;
	border: 1px solid #fff;
	border-radius: 2px;

}

header .btn:after {
	
	display: none;

}

header .btn:before {
	
	background: none;
	
}

header .btn.active {
	
    box-shadow: none;
    background: #fff;
    color: #811e68;

}

header .row > * {
	
	transition: background-color .2s ease-in-out;

}

header .right {
	
	order: 3;
	padding-right: 1em;

}

header .left {

	order: 1;
	background: transparent url(../images/skrill-logo-white-transparent.svg) center center no-repeat;
    background-size: auto 38px;
    background-position: 1em;
    flex-basis: 128px;
	flex-grow: 0 !important;

}
	
header .top-left {
	
	order: -2;
	background: #485160;
	flex-basis: calc(33.333% - 10px);
	padding: 0;

}
	
header .top-right {
	
	order: -1;
	background: #485160;
	flex-basis: calc(66.667% - 10px);
	padding: 0;

}

header .middle {
	
	order: 2;

}

header .right-mobile {
	
	background: url(../images/burger.svg) no-repeat center center;
	background-size: auto 1.5em;
/* 			background-position: calc(100% - 1.25em) 1.25em; */
	background-position-x: calc(100% - 1.75em);
/* 	background-position-y: .75em; */
	cursor: pointer;
	display: none;
	  -webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	     -khtml-user-select: none; /* Konqueror HTML */
	       -moz-user-select: none; /* Firefox */
	        -ms-user-select: none; /* Internet Explorer/Edge */
	            user-select: none; /* Non-prefixed version, currently */
	
}

header .row>[class^=col] {
	
	flex-grow: 1;

}

header nav .language ul {
	
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 2em 0;
	overflow: auto;
	width: auto;

}

header nav .language li, header .language li a[href] {
	
	display: block;
	text-align: left;
	padding: .5em 0;
	margin: 0 1.5em;

}

@media (max-width: 900px) {
	
	main {
		
		padding-top: 7em;

	}
	
	header {
		
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		
	}
	
	header .row > .right.align-right {
		
		order: -3;
	    text-align: left;
	    width: 33%;

	}
	
	header .row > .right.align-right > div {
		
		padding: 0 1em;

	}
	
	header .left {
		
		order: -2;
	    background-position: center center;
	    background-size: contain;
	    height: 3em;
	    border: 1em solid transparent;
	    box-sizing: border-box;
	    flex-basis: 33%;

	}
	
	header .right-mobile {
		
		display: block;
		order: -1;
		
	}

	header .top-left {
		
		order: 0;
		background: none;
		flex-basis: 100%;
		
	}

	header .top-left ul {
		
		font-size: 0;
		margin: 1rem 0 1.5rem 0;
		width: 100vw;

	}
		
	header .top-left li {
		
		border: 1px solid #41aeb5;
		font-size: 1rem;
		padding: .5em 1.5em;
	
	}
	
	header .top-left li.active {
		
		background: #41aeb5;
	
	}

	header input[type=checkbox]:checked ~ .top-left li.active a:not(.btn) {
	
		color: #fff;
	
	}	

	header .middle {
		
		order: 1;
		flex-basis: 100%;

	}

	header .top-right {
		
		order: 2;
		background: none;
		flex-basis: 100%;
		padding-bottom: 2em;

	}
	
	header .right .btn.active {
		
		display: none;

	}
	
	header .middle nav li {
		
		display: block;
		text-align: left;
		border-bottom: 1px solid #999;
		margin: 0 1em;

	}
	
	header .middle nav li:first-child {
		
		border-top: 1px solid #999;

	}
	
	header .middle nav li li, header .middle nav li li:first-child {
		
		border: none;		
		padding: 0;

	}
	
	header .row > * {
		
		text-align: center;

	}
	
	header input[type=checkbox] ~ * {
		
		visibility: hidden;
		position: absolute;

	}
	
	header input[type=checkbox] ~ .top-left {
		
		height: 0;
		
	}
	
	header input[type=checkbox] ~ .top-left, header input[type=checkbox] ~ .top-right, header input[type=checkbox] ~ .middle {
		
/*
		transform: translateX(100%);
		transition: transform .2s ease-in-out;
*/
		
		margin-left: 100%;
		transition: margin-left .2s ease-in-out;
	
	}		

	header input[type=checkbox] ~ .right, header input[type=checkbox] ~ .left, header input[type=checkbox] ~ .right-mobile, header input[type=checkbox]:checked ~ .top-left, header input[type=checkbox]:checked ~ .top-right, header input[type=checkbox]:checked ~ .middle {
		
		visibility: visible;
		position: static;
		height: auto;
/* 		transform: translateX(0); */
		margin-left: 0;

	}
	
	header input[type=checkbox]:checked ~ * {
						
		background-color: #fff;

	}
	
	header input[type=checkbox]:checked ~ * a:not(.btn) {
		
		color: #4a525f;

	}
	
	header input[type=checkbox]:checked ~ .right-mobile {
	
		background-image: url(../images/menu-close.svg);

	}

	header input[type=checkbox]:checked ~ .left {
		
		background-image: url(../images/skrill-logo-purple-transparent.svg);
		border-color: #fff;
		transition: border-color .2s ease-in-out;

	}
	
	header input[type=checkbox]:checked ~ .right .btn {
	
		border-color: #811e68;
		color: #811e68;

	}
	
	header nav ul {
		
		margin: 0;
		width: 100vw;

	}

	header nav li a[href] {
		
		padding: .5em 0;

	}

	header nav li.sub {
		
		background-image: url(../images/nav-arrow-black.svg);
		padding-right: 2.5em;

	}
					
	header nav li.sub:after {
		
		color: #999;
	
	}
	
	header nav li.sub.open:not(.language) ul {
		
		position: static;
		padding: 0;
	
	}
	
	header nav .language ul {
		
		position: fixed;
		left: 0;
		width: 100%;
		transform: translateX(100%);
		transition: transform .2s ease-in-out;
		background-image: url(../images/menu-close.svg);
		background-repeat: no-repeat;
		background-position: calc(100% - 1em) 1em;
		background-size: auto 2em;
		padding: 3em 0;

	}
	
	header.open nav .language.open ul {
		
		transform: translateX(0);

	}
	
	header nav .language li {
		
		margin: 0 3em;
		
	}
	
	header .language li a[href] {
		
		text-align: center;

	}
	
	header .middle li a[href], header .middle li a {
		
		margin: 0;
		padding: .5rem 0;
		display: inline-block;
		width: 100%;
	
	}

	header .middle nav li.sub {
		
		background-image: url(../images/nav-arrow-black-right.svg);
		background-size: 1em 1em;
		background-position-x: 100%;
	
	}

	header .middle nav li.sub.open {
		
		background: url(../images/nav-arrow-black.svg) no-repeat top right;
		background-position-y: 1em;
	
	}

	header .right .btn {
		
		display: inline-block;
		
	}
	
	header .top-right nav > ul > li:not(.language):not(.help) {
		
		display: block;
		padding: 1em;

	}

	header .top-right nav > ul > li:not(.language):not(.help) {
		
		display: block;
		padding: 1em;

	}

	header .top-right nav > ul > li.language li {
		
		padding: 0;

	}
	
	header li.language > a {
		
		background-image: url(../images/globe-black.svg);
		background-size: 1.25em 1.25em;
		
	}

	header li.help a[href] {
		
		background-image: url(../images/question-mark-circle-black.svg);
		background-size: 1.25em 1.25em;
		
	}
	
	header.open {
		
		border: none;
		height: var(--height);
		background: #fff;
		overflow: auto;
	
	}

	header nav li.sub:not(.language) ul {
		
		max-height: 0;
		transition: max-height .2s ease-in-out;
		overflow: hidden;
		padding: 0;
		visibility: visible;
	
	}
	
	header nav li.sub.open:not(.language) ul {
		
		max-height: 100vh;
		max-height: var(--max-height);
	
	}

	html:not(.can-touch) header nav li.sub:hover ul {
		
		position: static;
	
	}

}

@media (min-width: 900px) {
	
	header nav li.sub.open a[href] {
		
		color: #999;
	
	}
	
	header .left {
		
		padding: 2em 0;

	}
	
	header .top-left li + li:before {
		
		content: '|';
		color: #fff;
		
	}
	
	header nav li ul {
		
		min-width: 10em;
		
	}

	html:not(.can-touch) header nav li.sub:not(.language):hover:after {
		
		content: '';
		position: absolute;
		display: block;
		width: 50%;
		left: 25%;
		height: 1px;
		background: #999;
		z-index: 1;
		top: 2.5em;

	}
	
}
