@import 'skrill-variables';

input.trigger ~ * {
	
	overflow: hidden;
	width: 0;
	height: 0;
	transition: width .2s ease-in-out;
	
}

input.trigger:checked ~ * {
	
	width: auto;
	height: auto;
	
}

label[for=nav-trigger] {
	
	cursor: pointer;
	padding: 1em;
	width: 6em;
	text-align: center;
	line-height: 4;

}

.head {
	
	z-index: 17; // above the overlay
	padding-right: 6em;
	    
}

.head .nav > div > input.trigger {
	
	display: none;

}

.head input.trigger:checked ~ * {
	
	width: 30em; // animate margin instead?
	
}

.head nav {
	
	display: inline-block;

}

.head nav ul {
	
	padding: 0;
	margin: 0;

}

.head li {
	
	padding: 0;

}

.head li a[href] {
	
	padding: .5em 1em;
	display: block;
	color: #5c6478;
	font-size: 1.1em;
	display: block;

}

.head li.merchant-link a[href] {
	
	color: $purple;
	font-style: italic;

}

.head li a.active {
	
	background: #fff;
	
}

.head > .nav {
	
	padding: 0;
	justify-content: flex-start;
	position: absolute;
    right: 0;
	
}

.head > .nav > div {
	
	white-space: nowrap;
	font-size: 0;
	border-left: 1px solid #999;

}

.head .nav > div > nav {
	
	height: 0px;
	overflow: visible;
	vertical-align: top;
	white-space: normal;

}

.head .nav nav div.menu {
	
	background: #f4f4f4;
	color: #333;
	height: 100vh;
	width: 30em;
	overflow: auto;
    padding: 1.5em;

}

.head .nav > div > * {
	
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	
}

.head .nav .btn {
	
    margin: 2em 1.2em;

}

.head .nav form {

	text-align: center;
	text-transform: uppercase;
	color: #a09da9;
    font-family: robotoregular, Helvetica, Arial, sans-serif;

}

.head .nav form * {
	
	font-size: .9em;

}

.head .nav select.form-control {
	
	display: inline-block;
    width: auto;
	-webkit-appearance: none !important;
    background: none;
    border: none;
    text-transform: uppercase;
    text-indent: 0;
	color: inherit;
	margin: 0;
    padding: 0 !important;
    transform: translateY(-1px);
    cursor: pointer;
    
}

.head .nav form span:after {
	
	content: '|';
	padding: 0 1em;
}

.head .nav a[href].btn {
	
    color: #fff;
   	display: block;

}

.head .nav a[href].btn:hover {
	
    color: $purple;

}

.head .nav a[href].btn:after {
	
	border-color: transparent;

}

.links {
	
	white-space: nowrap;

}

.head .menu .icon {
	
    color: #a09da9;
    margin: 0 .3em;
    font-size: 2.5rem;
    transition: color .2s linear;
        
}

.head .icon:hover {
	
    background: rgba(84, 77, 100, .7);
    
}

.head .icon.icon-menu:before {

	vertical-align: middle;
    margin-top: -.2em;
    display: inline-block;
	font-size: 2.5rem;
    line-height: 1;
        
}

.menu-open .head .icon.icon-menu:before {

	content: "\e603";
	font-size: 2em;

}

@keyframes slidein {
	
	0% {

		opacity: 0;
		
	}

	100% {
		
		opacity: 1;

	}

}

html.menu-open body:after {
	
	content: '';	
	position: fixed;
	background: rgba(84, 76, 100, .75);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	animation: slidein .5s 1;
	z-index: 16; /* above carousel controls etc */
	will-change: opacity;
    -webkit-transform: translate3d(0,0,0); // Faster refresh


}

html.menu-open {
	
	overflow: hidden;

}

@media screen and (max-width: $mediumScreen) {
	
	.head .nav nav div.menu, .head input.trigger:checked ~ * {
		
		width: 100vw;
		padding-right: 6em;
	
	}
	
	.head .middle-space, .head .links a[href] {
		
		font-size: 0;
		visibility: hidden;
		
	}
	
	.head .links {
		
		display: none;

	}
	
	.head .nav nav {
		
		line-height: 2;
		
	}	
	
	.head > .nav {
		
	    line-height: 4em;

	}
	
	label[for=nav-trigger] {
		
		line-height: inherit;
	
	}
	
	.head .nav > div > * {
		
		background: rgba(0,0,0,.7);
		
	}

}
