@charset 'utf-8';

@import 'bootstrap.min';
@import 'skrill-variables';
@import 'skrill-bootstrap';
@import 'skrill-typography';
@import 'skrill-transparency';
@import 'skrill-button';
@import 'skrill-viewport-hero';
@import 'skrill-nav';
@import 'skrill-lists';
@import 'skrill-accordion';
@import 'skrill-tabs';
@import 'skrill-footer';
@import 'skrill-form';
@import 'skrill-fees';
@import 'skrill-unmissable-offers';
@import 'skrill-step-circles';
@import 'skrill-timeline-slider';

html, body {
	
	font-family: robotolight, Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 14px;
	letter-spacing: 1px;
	box-sizing: border-box;
	overflow-x: hidden;

}

/*
*:not(html) { // Pre-render everything below, almost works

    -webkit-transform: translate3d(0, 0, 0);

}
*/

header {
	
	overflow: hidden;
	position: relative;

}

picture {
	
	display: inline-block;

}

.contain {
	
	max-width: 1280px;
	margin: 0 auto;
	
}

img {
	
	max-width: 100%;
	display: inline-block;
	border: 0;
	text-indent: -100%; /* Hide the broken image icon */

}

img.header {
	
	opacity: 0;

}

.section:before, .section:after { // Clear inner margins
	
	content: '';
	display: table;
	table-layout: fixed;
	width: 0;

}

.section.background, .section > .row {
	
	min-height: 40em;

}

.section.background {
	
	background-color: #fff;
	background-size: cover;

}

/* Themes: 

Default: white background, purple elements, grey text
Light: grey background, purple elements, grey text
Dark: dark purple background, white elements, grey text

*/

.section.light:not(.transparent) {
	
	background-color: $grey-light;

}

.section.contain.light {
	
	box-shadow: 50vw 0 0 $grey-light, -50vw 0 0 $grey-light;

}

.transparency main .light.row.transparent > * > * {
	
	border-color: $grey-light;

}

.transparency main .light.row.transparent > * > *:not(.circle) {
	
	background: $grey-light;	

}

.light.transparent .circle:after { // Overlay the square with a circle with big enough border to create a round hole

	/* grey SVG rectangle with a transparent circle */
	background: url('data:image/svg+xml; utf8, <svg width="202px" height="202px" viewBox="0 0 202 202" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"> <defs></defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <path d="M0,0 L202,0 L202,202 L0,202 L0,0 Z M101,202 C156.78076,202 202,156.78076 202,101 C202,45.2192403 156.78076,0 101,0 C45.2192403,0 0,45.2192403 0,101 C0,156.78076 45.2192403,202 101,202 Z" id="Rectangle-2" fill="#fbfbfc" sketch:type="MSShapeGroup"></path> </g> </svg>') center center no-repeat;
	background-size: cover;
	
}

.transparency main .row.transparent.dark .hole > *:last-child:before {

	background: $grey-light;
	
}

.section.dark:not(.transparent) {
	
	background-color: $purple-dark;

}

.section.contain.dark {
	
	box-shadow: 50vw 0 0 $purple-dark, -50vw 0 0 $purple-dark;

}

.transparency main .dark.row.transparent > * > * {
	
	border-color: $purple-dark;

}

.transparency main .dark.row.transparent > * > *:not(.circle) {
	
	background: $purple-dark;	

}

.dark.transparent .circle:after { // Overlay the square with a circle with big enough border to create a round hole

	/* grey SVG rectangle with a transparent circle */
	background: url('data:image/svg+xml; utf8, <svg width="202px" height="202px" viewBox="0 0 202 202" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"> <defs></defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <path d="M0,0 L202,0 L202,202 L0,202 L0,0 Z M101,202 C156.78076,202 202,156.78076 202,101 C202,45.2192403 156.78076,0 101,0 C45.2192403,0 0,45.2192403 0,101 C0,156.78076 45.2192403,202 101,202 Z" id="Rectangle-2" fill="#544c64" sketch:type="MSShapeGroup"></path> </g> </svg>') center center no-repeat;
	background-size: cover;
	
}

.transparency main .row.transparent.dark .hole > *:last-child:before {

	background: $purple-dark;
	
}

/* Themes – end */

#content {
	
	text-align: center;
	
}

/* Uncollapsing child margins */
.module-title {
	
	padding: 1px;
	margin-top: -1px;
	
}

/* App Store / Play Store badges */

.badges {
	
	padding: 1em 33%;
	
	a {
		
		margin: 0 1em;
		display: inline-block;
		width: 40%;

	}
	
}

#content .awards li {
	
	display: inline-block;

}

.awards .award-image {
	
    width: 9em;
    height: 9em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	border: 2px solid grey;
    border-radius: 50%;	    

}

.visually-hidden {
	
	display: none;
	
}

/* Tick */

b.tick {
	
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid;
	border-radius: 50%;
	
}

b.tick:before {
	
	content: '✓';
	line-height: 1;
	
}

/* Box */

.box {
	
	background: rgba(255, 255, 255, .8);
	padding: 3em;
	
}

.box h2 {
	
	margin-top: 0;

}

/* Element themes */

.dark {
	
	color: #fff;

}

#content .dark {
	
	h2, h3, h4 {
	
		color: #fff;
	
	}

}

.section.dark:not(.transparent) {
	
    background: #544c64;

}

/* Reveal effect */

.circle > :first-child {
	
	transition: all .1s linear;
	
}

.embedded-code {
	
	word-break: break-word;
	word-wrap: break-word;

}

.logo-code > * {
	
	text-align: center;

}

/* About us – Global offices */

.global-offices .office-holder {
	
	padding: 1em;
	margin: 1em;
	
}

#content .global-offices li {
	
	margin: 1em;
	padding: 0;
	background: #fff;
	flex: 0 1 calc(50% - 2em);

}

#content .global-offices ul {
	
	margin: 1em 0;

}

main#content .global-offices a[href]:not(.btn):not([role=button]) {
	
	text-decoration: none;
	color: unset;
	width: 50%;

}

#content .global-offices .office-map {
	
	position: absolute;
	right: -1em;
	bottom: -1em;
	width: calc(50% + 1em);
	top: -1em;
	background-size: cover;
	background-position: center center;
	
}

#content .global-offices h3 {
	
	margin-top: 0;

}
