@import 'skrill-variables';

// Bootstrap Carousel additions

.carousel-inner.row > * {
	
	margin: 0;
	padding: 0;
	
}

.carousel-inner > .item > img {
	
	margin: 0 auto;
	
}

.carousel-indicators {
	
	bottom: -1em;
	
}

.box .carousel .carousel-indicators {
	
	bottom: -7em;
	left: 1em;
	
}

.box .carousel .item {
	
    min-height: 20em;
	
}

#content .carousel-indicators li, #content .carousel-indicators li.active {
	
	width: 1em;
	height: 1em;
	border: 2px solid #fff;
	min-height: 0;
    padding: 0;
    display: inline-block;
	
}

#content .carousel-indicators li:before {
	
	display: none;

}

.carousel-control {
	
	width: 3em;
    height: 2em;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);

}

.carousel-control.left, .carousel-control.right {
	
    background: none;

}

.carousel-control .glyphicon {
	
    color: #ddd;
    text-shadow: none;
	
}

.carousel .item:not(.active) {
	
	will-change: transform;

}

