@import 'skrill-variables';

/* To fix: full-width section with bg images getting white colour from its top neighbour with transparent circles */

.transparency body {

	background-size: 0; /* Hidden here, used in :before by inherit */

}

.transparency body:before {
	
	content: '';
	background-image: inherit;
	background-color:  #40315a;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
    z-index: -1;
    -webkit-transform: translate3d(0,0,0); // Faster refresh
    transform: translate3d(0,0,0); // Faster refresh
	
}

.transparency main {
	
	overflow: hidden;		

}

.section.transparent {
	
    background: transparent;

}

.section.contain {
	
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	box-shadow: 50vw 0 0 #fff, -50vw 0 0 #fff; /* Background colour on the sides */
	margin-bottom: -1px;

}

.modal-open .section.contain {
	
	transform: none;

}

#content {
	
	margin-bottom: -1px;

}

.transparency main .row.transparent > * {
	
	margin: 0;
	padding: 0;
    margin: 0 -2px;

}

.transparency main .row.transparent > *, .section, .section:before, .section:after {
	
	background: #fff;

}

.transparency main .row.transparent .hole, .transparency main .row.transparent .hole object {
	
	background: transparent;
	text-align: center;
    -webkit-transform: translate3d(0,0,0); // Faster refresh
    transform: translate3d(0,0,0); // Faster refresh

}

.section, .transparency main .row.transparent .hole > * {

	position: relative;

}

.transparency main .row.transparent .hole > *:last-child:before { /* Put background over transparent space below the last div, a result of other taller columns */
	
	content: '';
    position: absolute;
    left: calc(-50% - 3rem);
    right: 0;
    width: calc(200% + 6rem);
    bottom: auto;
    height: 100vh;
    background: #fff;
    z-index: -1;
	
}

.transparency main .row.transparent > * > * {

	font-size: 1rem;
	background: #fff;
	border: 15px solid #fff; /* Spacing between circles */
	border-left: 5em solid #fff;
	border-right: 5em solid #fff;
	border-top: 2em solid #fff;
	border-bottom: 2em solid #fff;

}

/* Transparent circles */

.transparent .circle {

	overflow: visible;
	position: relative;

}

main .row.transparent > * > .circle {

	background: transparent;
	text-align: center;

}

.transparent .circle:before { // Make it a square aspect ratio
	
	content: '';
	display: inline-block;
	padding-bottom: 100%;
	vertical-align: middle;
	
}

// Transparent circle box

.transparent .circle:after { // Overlay the square with a circle with big enough border to create a round hole

	content: '';
	display: block;
	position: absolute;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
	top: -.5px; // Chrome bug
	left: -.5px;
	/* white SVG rectangle with a transparent circle */
	background: url('data:image/svg+xml; utf8, <svg width="202px" height="202px" viewBox="0 0 202 202" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"> <defs></defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <path d="M0,0 L202,0 L202,202 L0,202 L0,0 Z M101,202 C156.78076,202 202,156.78076 202,101 C202,45.2192403 156.78076,0 101,0 C45.2192403,0 0,45.2192403 0,101 C0,156.78076 45.2192403,202 101,202 Z" id="Rectangle-2" fill="#FFFFFF" sketch:type="MSShapeGroup"></path> </g> </svg>') center center no-repeat;
	background-size: cover;
	background-image: url(../images/transparent-circle-in-white-square.svg); // IE/Edge/FF not supporting inline SVG
	
}

.transparent .circle > * {
	
	vertical-align: middle;
	display: inline-block;
	width: 67%;

}

.content-arrow { /* Hero down arrow */
	
	vertical-align: bottom; 
	padding: 1em; 
	text-align: center;
	
}

/* Full height/width fixed background image */

.full-background-container {
	
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip: auto;
    -webkit-mask-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
    background-size: 0;
    z-index: -1;
	    
}

	@-moz-document url-prefix() { /* mask-image doesn't work in FF */

		.full-background-container {
			
		    clip: rect(auto, auto, auto, auto);

		}

	}

.full-background-container .full-background-image {
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover; 
	background-position: center center;
	-webkit-transform: translate3d(0,0,0); //Faster refresh     
	transform: translate3d(0,0,0); //Faster refresh;
	
}

_:-ms-lang(x), .full-background-container .full-background-image {
	
	position: static;

}

.full-background-container .background-data {
	
	display: none;

}

/* Overlay Icon: Additional smaller icon on at the bottom-left of a hole with icon */

.transparent .circle * ~ * {
	
    position: absolute;
    bottom: 0;
    width: 11em;
    height: auto;
    background: #fff !important;
    border-radius: 50%;
    padding: 1em;
    left: 0;
    z-index: 1;

}

@media screen and (max-width: $mediumScreen) {
	
	.transparency main .row.transparent > *:after {

		display: none;
	
	}
	
	.transparency main .row.transparent, .transparency main .row.transparent > * {
		
		display: block;
		width: 100%;
		margin: 0;
	
	}

	.transparency main .row.transparent>*>* {
	
		border-left-width: 1em;
		border-right-width: 1em;
	
	}

	.row.transparent {
		
		margin: 1em;
		
	}
	
}

