$grey: #485161;
$lightgrey: #8c90a0;
$teal: rgb(76, 188, 195);
$purple: #811e68;
// $breakpoint: 901px;
$breakpoint: 1280px;

@font-face {

    font-family: robotoregular;
    src: url(../fonts/roboto/roboto_regular/Roboto-Regular-webfont.woff);
    font-weight: 400;
    font-style: normal;

}

body {
	
	background: url(../images/desktop-nav-bg.jpg);
	background-size: cover;

}

header {
	
	position: fixed;
	border-bottom: 1px solid #fff;
// 	background: rgba(0, 0, 0, .5);
    background: rgba(255,255,255,.9);
	width: 100%;
	overflow: visible;
	z-index: 3;
	font-family: robotoregular, Helvetica Neue, Arial, sans-serif;
	font-size: 9px;
	transition: background-color .2s ease-in-out;
	-webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    
}

input#toggle-menu {
	
	display: none;

}

main {
	
	padding: 1em;
	padding-top: 12em;
	min-height: 250vh;
	color: #fff;

}

header a[href], header a {
	
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	word-break: break-all;
	word-wrap: break-word;
    letter-spacing: 2px;

}

/*
header a[href].btn#register {
	
	background: #fff;
	color: $lightgrey;

}
*/

header li a[href], header li a {
	
	padding: 0 .5em;

}

header .middle li a[href], header .middle li a {
	
	word-break: initial;
	margin: .5em;
	line-height: 1.25;
	padding: 0 1em;

}

header .middle li.sub > a[href], header .middle li.sub > a {
	
	margin-right: 0;

}

header nav ul {
	
	text-align: inherit;
	margin: .15em 2.5em;
	padding: 0;

}

header nav li {
	
	display: inline-block;
	position: relative;
	padding: 1em 0;

}

header .top-right nav > ul > li + li {
	
	margin-left: 1em;
	
}

header nav li li {
	
	display: block;
	padding: .1em 0;

}

header nav li.sub.language li {
	
	padding: 0;

}

header nav li.sub.language li a[href] {
	
	padding: .5em;

}

header nav .language .hidden_language {
	
	display: none;

}

header nav li ul {
	
	visibility: hidden;
	position: absolute;
	background: #fff;
	margin: 0;
	padding: 1em 0;
	z-index: 1;
	width: 100%;

}

header nav li.sub {
	
/*
	padding-right: 1.5em;
	background: url(../images/nav-arrow-white.svg) right center no-repeat;
	background-position-x: calc(100% - .5em);
	background-size: 1em auto;
*/
	
	background: none;

}

header nav li.sub:hover {

    z-index: 1;	
	
}

header nav li.sub.open {
	
	background: #fff;

}

header nav li.sub.open ul, header nav li.sub > :checked ~ ul {
	
	visibility: visible;

}

header .top-left li:not(.active) a[href] {
	
	color: #8f91a4;
	
}

header li.help a[href] {
	
	background: url(../images/question-mark-circle.svg) left center no-repeat;
	background-size: auto 100%;
	padding-left: 2em;
	
}

header li.language a {
	
	background: url(../images/globe.svg) left center no-repeat;
	background-size: auto 100%;
	padding-left: 2em;
	
}

	header nav li.open.sub:not(.language) > ul, header nav li.sub:not(.language) > :checked ~ ul {
		
		z-index: -1;

	}

/*
	header nav li.open.sub:not(.language) > ul:before, header nav li.sub:not(.language) > :checked ~ ul:before {
		
		content: '';
		position: absolute;
		background: #fff;
		top: -5em;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		min-width: 10em;

	}
*/

header .btn, header .btn:focus {
	
	padding: .5em 2em;
	border-color: #fff;
	margin: .5em 0;
	border: 1px solid #fff;
	border-radius: 2px;

}

header .btn:after {
	
	display: none;

}

header .btn:before {
	
	background: none;
	
}

header .btn.active {
	
    box-shadow: none;
    background: #fff;
    color: #811e68;

}

header .row {
	
	justify-content: flex-start;
	
}

header .row > * {
	
	transition: background-color .2s ease-in-out;
	box-sizing: border-box; // Breaks IE10 support

}

header .right {
	
	order: 3;
	width: auto;

}

header .left {

	order: 1;
/*
	background: transparent url(../images/skrill-logo-white-transparent.svg) center center no-repeat;
    background-size: auto 34px;
    background-position: 3em;
*/
    flex-basis: 128px;
	flex-grow: 0 !important;
    position: relative;
    overflow: hidden;

}

header .left img {
	
    max-height: 100%;
    max-width: 100%;

}
	
header .left img:last-child {
	
	display: none;

}
	
header .top-left {
	
	order: -2;
	background: #485160;
	flex-basis: calc(33.333% - 10px);
	padding: 0;
	
	font-size: 9px;

}
	
header .top-right {
	
	order: -1;
	background: #485160;
	flex-basis: calc(66.667% - 10px);
	padding: 0;
	
	font-size: 9px;

}

header .middle {
	
	order: 2;
	font-size: 12px;
	padding: 1em;
	width: auto;

}

header .right-mobile {
	
	background: url(../images/burger-grey.svg) no-repeat center center;
	background-size: auto 1.5em;
/* 			background-position: calc(100% - 1.25em) 1.25em; */
	background-position-x: calc(100% - 1em);
/* 	background-position-y: .75em; */
	cursor: pointer;
	display: none;
	  -webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	     -khtml-user-select: none; /* Konqueror HTML */
	       -moz-user-select: none; /* Firefox */
	        -ms-user-select: none; /* Internet Explorer/Edge */
	            user-select: none; /* Non-prefixed version, currently */
	
}

header .row>[class^=col] {
	
	flex-grow: 1;

}

header nav .language ul {
	
	position: fixed;
	top: 0;
// 	bottom: 0;
	right: 0;
	padding: 2em 0;
	overflow: auto;
	width: auto;
	max-height: 100%;

}

header nav .language li, header .language li a[href] {
	
	display: block;
	text-align: left;
	padding: .5em 0;
	margin: 0 1.5em;

}


header .btn {
	
	display: inline-block;
	background: none;

}

#myaccount, .logged-in #login {
	
	display: none;
	
}

.logged-in #myaccount {
	
	display: inline-block;
	
}

header input[type=radio] {
	
	position: absolute;
	right: .5em;
	
	display: none; // Temporarily deactivated

}

header .absolute {
	
	position: absolute;
	white-space: nowrap;

}

header .absolute nav li.sub ul {
	
	display: none;

}

@media (max-width: $breakpoint) {
	
	main {
		
		padding-top: 7em;

	}
	
	header {
		
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		
	}
	
	header .row {
	
		width: 200%;

	}
	
	header .row > .right.align-right {
		
		order: -3;
	    text-align: left;
	    width: 33%;
	    flex-grow: 0;
	    max-width: 16.667%;
		overflow: hidden;

	}
	
	header .row > .right.align-right > div {
		
		padding: 0 1em;

	}
	
	header .left {
		
		order: -2;
/*
	    background-position: center center;
	    background-size: contain;
*/
	    height: 3em;
	    border: .75em solid transparent;
	    box-sizing: border-box;
	    flex-basis: 16.667%;

	}
	
	header .left img {
		
		height: 3em;

	}
	
	header :checked ~ .left img:first-child {
		
		display: none;
	
	}
		
	header :checked ~ .left img:last-child {
		
		display: block;
	
	}

	header .right-mobile {
		
		display: block;
		order: -1;
		max-width: 16.667%;
		
	}

	header .top-left {
		
		order: 0;
		background: none;
		flex-basis: 100%;
		
	}

	header .top-left ul {
		
		font-size: 0;
		margin: 1rem 0 1.5rem 0;
		width: 100%;

	}
		
	header .top-left li {
		
		border: 1px solid #41aeb5;
		font-size: .8rem;
		padding: .5em 1.5em;
	    margin-left: -1px; // compensate for white space between buttons
	
	}
	
	header .top-left li.active {
		
		background: #41aeb5;
	
	}

	header input[type=checkbox]:checked ~ .top-left li.active a:not(.btn) {
	
		color: #fff;
	
	}	

	header .row > input[type=checkbox]:checked ~ .right.align-right > * {
		
		visibility: hidden;

	}
	
	header .middle {
		
		order: 1;
		flex-basis: 100%;

	}

	header .top-right {
		
		order: 2;
		background: none;
		flex-basis: 100%;
		padding-bottom: 2em;

	}
	
	header .right .btn.active {
		
		display: none;

	}
	
	header .middle nav li {
		
		display: block;
		text-align: left;
		border-bottom: 1px solid $grey;
		margin: 0 1em;
	    padding: .25em 0;

	}
	
	header .middle nav li:first-child {
		
		border-top: 1px solid $grey;

	}
	
	header .middle nav li li, header .middle nav li li:first-child {
		
		border: none;		
		padding: 0;

	}
	
	header .row > * {
		
		text-align: center;

	}
	
	header input[type=checkbox] ~ * {
		
		visibility: hidden;
		position: absolute;

	}
	
	header input[type=checkbox] ~ .top-left {
		
		height: 0;
		
	}
	
	header input[type=checkbox] ~ .top-left, header input[type=checkbox] ~ .top-right, header input[type=checkbox] ~ .middle {
		
/*
		transform: translateX(100%);
		transition: transform .2s ease-in-out;
*/
		
		margin-left: 50%;
		max-width: 50.1%; // +.1% for Chrome
		transition: margin-left .2s ease-in-out;
	
	}		

	header input[type=checkbox] ~ .right, header input[type=checkbox] ~ .left, header input[type=checkbox] ~ .right-mobile, header input[type=checkbox]:checked ~ .top-left, header input[type=checkbox]:checked ~ .top-right, header input[type=checkbox]:checked ~ .middle {
		
		visibility: visible;
		position: static;
		height: auto;
/* 		transform: translateX(0); */
		margin-left: 0;

	}
	
	header input[type=checkbox]:checked ~ * {
						
		background-color: #fff;

	}
	
	header input[type=checkbox]:checked ~ * a:not(.btn) {
		
		color: #4a525f;

	}
	
	header input[type=checkbox]:checked ~ .top-left a:not(.btn) {
		
		color: #cecece;

	}
	
	header input[type=checkbox]:checked ~ .right-mobile {
	
		background-image: url(../images/menu-close.svg);

	}

	header input[type=checkbox]:checked ~ .left {
		
// 		background-image: url(../images/skrill-logo-purple-transparent.svg);
		border-color: #fff;
		transition: border-color .2s ease-in-out;

	}
	
	header input[type=checkbox]:checked ~ .right .btn {
	
		border-color: #811e68;
		color: #811e68;

	}
	
	header nav ul {
		
		margin: 0;
		width: 100%;

	}

	header nav li a[href] {
		
		padding: .5em 0;

	}

	header nav li.sub.open, header nav li.sub > :checked {
		
		background-image: url(../images/nav-arrow-black.svg);
		background-repeat: no-repeat;
		background-position-x: calc(100% - .5em);
		background-position-y: .55em;
		
	}

	header nav li.sub {
		
		background-image: url(../images/nav-arrow-black.svg);
		padding-right: 2.5em;
	    background-repeat: no-repeat;
	    background-position: calc(100% - 1em) 1.25em;
	    background-size: 1.5em;

	}
					
	header nav li.sub:after {
		
		color: $grey;
	
	}
	
	header nav li.sub.open:not(.language) ul, header nav li.sub:not(.language) > :checked ~ ul {
		
		position: static;
		padding: 0;
	
	}
	
	header nav .language ul {
		
		position: fixed;
		left: 0;
		width: 100%;
		transform: translateX(100%);
		transition: transform .2s ease-in-out;
		background-image: url(../images/menu-close.svg);
		background-repeat: no-repeat;
		background-position: calc(100% - 1em) 1em;
		background-size: auto 2em;
		padding: 3em 0;

	}
	
	header.open nav .language.open ul, header.open nav .language.open > :checked ~ ul {
		
		transform: translateX(0);
	    height: 100%;
	    height: var(--viewport-height);

	}
	
	header nav .language li {
		
		margin: 0 3em;
		
	}
	
	header .language li a[href] {
		
		text-align: center;

	}
	
	header .middle li a[href], header .middle li a {
		
		padding: .5rem 0;
		display: inline-block;
		width: 100%;
	
	}

	header .middle li li a[href], header .middle li li a {
		
		padding: .5rem 0;
		margin: 0;

	}
	
	header .middle nav li.sub {
		
		background-image: url(../images/nav-arrow-black-right.svg);
		background-size: 1em 1em;
		background-position-x: 100%;
	    background-repeat: no-repeat;
	    background-position-y: 1.5em;
	    padding: .25em 2.5em .25em 0;
	
	}

	header .middle nav li.sub.open {
		
		background: url(../images/nav-arrow-black.svg) no-repeat top right;
		background-position-y: 1.67em;
		background-size: 1em auto;
	
	}

	header .right .btn {
		
		display: inline-block;
		color: $grey;
		border-color: $grey;
		
	}
	
	header .top-right nav > ul > li:not(.language):not(.help) {
		
		display: block;
		padding: 1em;

	}

	header .top-right nav > ul > li:not(.language):not(.help) {
		
		display: block;
		padding: 1em;

	}

	header .top-right nav > ul > li.language li {
		
		padding: 0;

	}
	
	header li.language > a {
		
		background-image: url(../images/globe-black.svg);
		background-size: 1.25em 1.25em;
		
	}

	header li.help a[href] {
		
		background-image: url(../images/question-mark-circle-black.svg);
		background-size: 1.25em 1.25em;
		
	}
	
	header.open, :checked ~ header {
		
		border: none;
		height: var(--viewport-height);
		background: #fff;
		overflow-y: auto;
	
	}

	header nav li.sub:not(.language) ul {
		
		max-height: 0;
		transition: max-height .2s ease-in-out;
		overflow: hidden;
		padding: 0;
		visibility: visible;
	
	}
	
	header nav li.sub.open:not(.language) ul, header nav li.sub:not(.language) > :checked ~ ul {
		
		max-height: 100vh;
		max-height: var(--max-height);
	
	}

	#register {
		
		display: none;
	
	}

}

@media (min-width: $breakpoint) {
	
	header {
		
	    background: rgba(255,255,255,.9);
    	
	}

/* 	body.scrolled */ header {
		
// 		box-shadow: 0 0 1px 2px #ddd;
		border: none;
		
	}
	
	header .middle nav ul {
		
	    margin: 0.15em 0;
	    margin: 0;

	}
	
	header .middle li a[href], header .middle li a {
	
		margin-left: 0;
		margin-right: 0;

	}
	
	header nav .middle li {
		
	    padding: 1.25em 0;

	}
	
	header nav li.sub.open a, header nav li.sub > :checked ~ ul a, header nav li.sub > :checked ~ a {
		
		color: $grey;
	
	}
	
	header .left {
		
		min-height: 7em;
		transition: all .2s ease-in-out;
	    margin-right: 1em;

	}
	
	header .left img {
		
		position: absolute;
	    width: calc(100% - 3em);
	    top: 1.67em;
	    right: 0;
	    bottom: 0;
	    left: 3em;
	    display: block;
		    
	}
	
/*
	body.scrolled header .left {
		
		min-height: 60px;
// 		background-size: auto 24px;
	    flex-basis: 100px;

	}
*/

/*
	body.scrolled header .left img {
		
		top: .75em;

	}
*/

	header .top-left, header .top-right {
		
		z-index: 2;
	
	}
	
	header .top-left li + li:before {
		
		content: '|';
		color: #fff;
		margin-left: -3px;
		
	}
	
	header nav li ul {
		
		min-width: 24em;
	    padding: 1.5em 0 1.5em 0;
		top: 4.5em;
		top: 4.25em;
	
	}

/*
	html:not(.can-touch) header nav li ul {
		
		padding-top: 2em;
	
	}
*/

	header nav li[data-show].show {
		
		display: inline-block !important;
	
	}

	header .right {
		
		margin: 0;
	    padding: 1.5em 3em 0 0;
		flex-grow: 0 !important;
		flex-basis: auto;
	
	}

/*
	header nav li:not(.language) ul:after {
		
		content: '';
		position: absolute;
		display: block;
		width: 50%;
		left: 25%;
		height: 1px;
		background: $grey;
		z-index: 1;
		top: 1.1em;

	}
*/

	html:not(.can-touch) {
		
		header nav li.sub:hover a {
			
			color: $grey;
	
		}
	
		header nav li.sub:hover > a {
			
			opacity: .2;
	
		}
	
		header nav li.sub:hover li:hover a {
			
			color: #41aeb5;
	
		}
	
		header nav li.sub.language:hover li:hover a {
			
			color: #4f2556;
	
		}
	
		header nav li.sub:hover ul {
			
			visibility: visible;
	
		}

/*
		header nav li.sub:hover {
			
			background-image: url(../images/nav-arrow-black.svg);
			background-repeat: no-repeat;
			background-position-x: calc(100% - .5em);
// 			background-position-y: .55em;
			
		}
*/

		header nav li.sub:hover:before, header nav li.sub.open:before {
			
			content: '';
			position: absolute;
			background: #fff;
			top: -5em;
			top: 0;
			left: 0;
			right: 0;
			bottom: -2em;
			z-index: -1;
// 			min-width: 10em;
	
		}

	}

	header .middle li li a[href], header .middle li li a {
		
		font-size: .9em;
		display: block;
	    padding: 0 1.75em;
	
	}

	body:not(.scrolled) header {
		
// 		background-color: rgba(255, 255, 255, .25);
// background: rgba(72,81,96, .5);
	
	}

	header .middle li.sub > a[href], header .middle li.sub > a {
		
// 		margin-right: .5em;
/* 		padding: 2.25em 1.5em; */
	
	}

/*
	body.scrolled header .left {
	
		background-image: url(../images/skrill-logo-purple-transparent.svg);
	
	}
*/
	
/* 	body.scrolled */ header .middle a[href], /* body.scrolled */ header .middle a {
		
		color: $grey;
		
	}

/* 	body.scrolled */ header .middle nav li.sub {
		
// 		background-image: url(../images/nav-arrow-black.svg);

	}
					
/* 	body.scrolled */ header .left img:last-child {
		
		display: block;

	}
	
/* 	body.scrolled */ header .left img:first-child {
		
		display: none;

	}
	
	header a[href].btn#login {
		
		margin-right: 1em;		
	
	}
	
	header a[href].btn#register:hover, header a[href].btn#myaccount:hover, header a[href].btn#login:hover {
		
		background: $grey !important;
		border-color: $grey !important;
		color: #fff !important;
		
	}

/* 	body.scrolled */ header a[href].btn {
		
		color: $grey;
		border-color: $grey;
		background: none;
		font-size: 10px;
	
	}

}
