@import 'skrill-variables';

.panel-title {
	
	text-align: center;

}

.panel-title span {
	
	font-size: 1rem;
	text-transform: none;
	font-family: robotolight, Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
	margin: 2rem 0 0;
	text-align: start;
	display: block;
	color: #333;
	
}

.tx-fees .panel {
	
	background: #fff;
	margin: 2em 0;
	padding: 1em 0;
	    
}

.tx-fees .section.contain {
	
	box-shadow: 50vw 0 0 #ededef,-50vw 0 0 #ededef;
	background-color: #ededef;
    
}

#content .tx-fees li {
	
	display: inline-block;
	margin: 0;
    padding: 0;
    border: 1px solid #ededef;
    border-radius: 3px;
    padding: .4em;
    background: #fff;
	
}

.tx-fees .convert-currency {
	
	display: block;

}

.tx-fees .icon-holder {
	
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #41aeb5;
	width: 13rem;
	height: 13rem;
	
}

.tx-fees .section-icon {
	
	padding: 2em 0;

}

.tx-fees .provider-logos {
	
	margin: 0;

}

#content .tx-fees li:before {
	
	display: none;
	
}

.fee-wrapper {

    width: 100%;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    
    padding: 1.4rem 0;
    background: #f8f8f9;
    margin: 1em 0;

}

.provider-logos .payment-icon, .provider-logos .payment-icon.sofortüberweisung, .provider-logos .payment-icon.maestro, .provider-logos .payment-icon.swift, .provider-logos .payment-icon.visa {
    display: block;
    width: 60px;
    height: 60px;
/*     background-image: url(/fileadmin/templates/images/icons/payment-cards.png); */
    background-image: url(../images/payment-provider.png) !important;
    background-repeat: no-repeat;
    text-indent: -999em;
    background-position: 0 0;
 }

/*
.provider-logos .payment-icon.sofort {
    width: 74px;
}
*/

.provider-logos .payment-icon.bank_withdrawal, .provider-logos .payment-icon.bank_transfer_upload, .provider-logos .payment-icon.bank_transfer {
   background-position: 0 0;
}
.provider-logos .payment-icon.LVA-OBT_upload {
   background-position: 0 -70px;
}
.provider-logos .payment-icon.LTU-OBT_upload {
   background-position: 0 -140px;
}
.provider-logos .payment-icon.ITA-OBT_upload {
   background-position: 0 -210px;
}
.provider-logos .payment-icon.cartasi_upload {
   background-position: 0 -280px;
}
.provider-logos .payment-icon.carte_bleue_upload {
   background-position: 0 -350px;
}
.provider-logos .payment-icon.cheque, .provider-logos .payment-icon.cheque_upload, .provider-logos .payment-icon.cheque_withdrawal, .provider-logos .payment-icon.cheque_int_withdrawal {
   background-position: 0 -420px;
}
.provider-logos .payment-icon.credit_card_amex {
   background-position: 0 -490px;
}
.provider-logos .payment-icon.credit_card_mastercard {
   background-position: 0 -560px;
}
.provider-logos .payment-icon.credit_card_jcb {
   background-position: 0 -630px;
}
.provider-logos .payment-icon.credit_card_diners {
   background-position: 0 -700px;
}
.provider-logos .payment-icon.credit_card_visa, .provider-logos .payment-icon.visa_withdrawal, .provider-logos .payment-icon.visa, .provider-logos .payment-icon.visaxx {
   background-position: 0 -770px;
}
.provider-logos .payment-icon.e_nets_upload {
   background-position: 0 -840px;
}
.provider-logos .payment-icon.epaybg_upload, .provider-logos .payment-icon.epay_bulgaria {
   background-position: 0 -910px;
}
.provider-logos .payment-icon.eps_upload, .provider-logos .payment-icon.eps {
   background-position: 0 -980px;
}
.provider-logos .payment-icon.ESP-OBT_upload {
   background-position: 0 -1050px;
}
.provider-logos .payment-icon.giropay_upload, .provider-logos .payment-icon.giropay {
   background-position: 0 -1120px;
}
.provider-logos .payment-icon.i_deal_upload, .provider-logos .payment-icon.ideal {
   background-position: 0 -1190px;
}
.provider-logos .payment-icon.PLO-OBT_upload {
   background-position: 0 -1260px;
}
.provider-logos .payment-icon.laser_upload {
   background-position: 0 -1330px;
}
.provider-logos .payment-icon.maestro_upload, .provider-logos .payment-icon.maestro {
   background-position: 0 -1400px;
}
.provider-logos .payment-icon.nordea_upload, .provider-logos .payment-icon.nordea_solo, .provider-logos .payment-icon.solo, .provider-logos .payment-icon.nordea {
   background-position: 0 -1470px;
}
.provider-logos .payment-icon.GBR-OBT_upload, .provider-logos .payment-icon.online_bank_transfer {
   background-position: 0 -1540px;
}
.provider-logos .payment-icon.SWE-OBT_upload {
   background-position: 0 -1610px;
}
.provider-logos .payment-icon.DNK-OBT_upload {
   background-position: 0 -1680px;
}
.provider-logos .payment-icon.DEU-OBT_upload {
   background-position: 0 -1750px;
}
.provider-logos .payment-icon.p24_upload, .provider-logos .payment-icon.przelewy24 {
   background-position: 0 -1820px;
}
.provider-logos .payment-icon.EST-OBT_upload {
   background-position: 0 -1890px;
}
.provider-logos .payment-icon.poli_upload, .provider-logos .payment-icon.internet_banking_via_poli, .provider-logos .payment-icon.poli {
   background-position: 0 -1960px;
}
.provider-logos .payment-icon.sofort_upload, .provider-logos .payment-icon.sofortüberweisung {
   background-position: 0 -2030px;
}
.provider-logos .payment-icon.swift, .provider-logos .payment-icon.swift_upload, .provider-logos .payment-icon.swift_withdrawal {
   background-position: 0 -2100px;
}
.provider-logos .payment-icon.FIN-OBT_upload {
   background-position: 0 -2170px;
}
.provider-logos .payment-icon.FRA-OBT_upload {
   background-position: 0 -2240px;
}
.provider-logos .payment-icon.skrill_direct {
   background-position: 0 -2310px;
}
.provider-logos .payment-icon.sofort_banking {
   background-position: 0 -2380px;
}
.provider-logos .payment-icon.paysafecard {
   background-position: 0 -2440px;
}
.provider-logos .payment-icon.trustly {
   background-position: 0 -2500px;
}
.provider-logos .payment-icon.ach {
  background: #fff url('../images/ach.png') -8px -6px no-repeat !important;
}
.provider-logos .payment-icon.neteller {
   background-position: 0 -2560px;
}

